<div class="bg-slate-300 p-20 flex flex-col items-center">
    
         <img class="p-4 w-56 h-56 rounded-xl bg-white mb-10" src="../img/qr.jpg" alt="">
    
    <div class="flex justify-center">{{> social.hbs}}</div>
</div>