
    <div class="flex flex-col ">
        {{> face.hbs}}
        {{> experience.hbs}}
        {{> sertificates.hbs}}
        {{> carousel}}
        {{> whyme.hbs}}
        {{> modal.hbs}}

    </div>
