<ul class="hidden sm:flex justify-around text-white font-bold text-2xl">
    <li class="mx-4 hover:text-slate-400">
        <a href="#about">Обо мне</a></li>
    <li class="mx-4 hover:text-slate-400"><a href="#experience">Опыт</a></li>
    <li class="mx-4 hover:text-slate-400"><a href="#whyme">Почему я</a></li>
</ul>