

<!-- Modal -->

<div class="modal  fixed top-0 left-0 right-0 bottom-0 hidden  h-full outline-none z-10"
  id="exampleModalFullscreen">
  <div class="mt-36 flex items-center justify-center mx-auto ">
    <div id="modal-content"
    
      class="border-none shadow-lg relative flex flex-col pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current mx-12">
    
      
      
    </div>
  </div>
</div>