<div id="experience" class="px-6 pt-24 text-xl bg-slate-500">

    <div class="container mx-auto ">
        <div class="flex flex-col ">
            <div class="grid gap-10 grid-cols-1 sm:grid-cols-2 px-4 mb-8" id="sertificates">
              <img class="shadow-2xl" data-name="g84_y" src="../img/sertificates/g84_y.jpg" alt="">
              <img class="shadow-2xl" data-name="g85_y" src="../img/sertificates/g85_y.jpg" alt="">

              <img class="shadow-2xl" data-name="g89_x"  src="../img/sertificates/g89_x.jpg" alt="">
              <img class="shadow-2xl" data-name="g88_y" src="../img/sertificates/g88_y.jpg" alt="">
            </div>
            
        </div>
    </div>
</div>