<div id='whyme' class='bg-slate-300'>
  <div class='container mx-auto text-gray-700'>
    <h2 class='header py-12 md:text-3xl text-3xl text-center text-gray-700 '>Почему я? С какими запросами работаю?</h2>
    <div class='q-wrapper grid grid-cols-1 lg:grid-cols-1 gap-2 relative md:flex-row pb-7 px-4' id='whyme-content'>
      <div>
        <div class='py-1 lg:pb-1 lg:pt-0'>
          <div class='q-header' data-whyme='1'>
            <h3 class='text-xl'>Reason1</h3>
            <img class='q-image transition-transform duration-500 rotate-0 w-6'
              src='img/svg/white/caret-down-outline.svg' alt='' />
          </div>
          <div class='q-content max-h-0'>
            <p class='p-4'>
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis cupiditate voluptatum possimus hic magni, nemo iste labore id quod sit fugit consectetur modi exercitationem vitae reiciendis mollitia perspiciatis quidem fuga.
            </p>
          </div>
        </div>
        <div class='py-1'>
          <div class='q-header' data-whyme='2'>
            <h3 class='text-xl'>Reason2</h3>
            <img class='q-image transition-transform duration-500 rotate-0 w-6'
              src='img/svg/white/caret-down-outline.svg' alt='' />
          </div>
          <div class='q-content max-h-0'>
            <p class='p-4'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima doloribus alias odit quis blanditiis deleniti, quae nesciunt aliquam ipsum praesentium recusandae hic quas similique quaerat est id pariatur sapiente porro.
            </p>
          </div>
        </div>
        <div class='py-1'>
          <div class='q-header' data-whyme='3'>
            <h3 class='text-xl font-bold'>Reason3</h3>
            <img class='q-image transition-transform duration-500 rotate-0 w-6'
              src='img/svg/white/caret-down-outline.svg' alt='' />
          </div>
          <div class='q-content max-h-0'>
            <p class='p-4'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, numquam quisquam corporis fugit at blanditiis exercitationem minus reiciendis veritatis rem dignissimos debitis, quae, deserunt nisi quas vel culpa nemo assumenda?
            </p>
          </div>
        </div>
        <div class='py-1'>
          <div class='q-header' data-whyme='4'>
            <h3 class='text-xl font-bold'>Reason4</h3>
            <img class='q-image transition-transform duration-500 rotate-0 w-6'
              src='img/svg/white/caret-down-outline.svg' alt='' />
          </div>
          <div class='q-content max-h-0'>
            <p class='p-4'>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, explicabo repellat deleniti molestiae eaque iste commodi consequuntur. Excepturi atque eum earum quod beatae ducimus velit fugit veritatis dolorum, delectus fugiat!
            </p>
          </div>
        </div>
        <div class='pt-1'>
          <div class='q-header' data-whyme='5'>
            <h3 class='text-xl font-bold'>Reason5</h3>
            <img class='q-image transition-transform duration-500 rotate-0 w-6'
              src='img/svg/white/caret-down-outline.svg' alt='' />
          </div>
          <div class='q-content max-h-0'>
            <p class='p-4'>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam totam sit voluptates dolor magni esse animi. Est alias quis excepturi aperiam saepe ea fugiat officia hic ab, praesentium possimus magnam?
            </p>
          </div>
        </div>


      </div>
      
    </div>
  </div>
</div>
