@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
  }
  /* *,
    *::before,
    *::after {
      box-sizing: border-box;
    } */

body  {
    margin: 0; 
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.q-header {
    @apply font-bold flex flex-row justify-between text-gray-700 bg-gray-100 px-3 py-4 cursor-pointer ;
  }
  .q-content {
    @apply   transition-all duration-500 overflow-hidden text-gray-700 text-xl;
  }
 
  .experience {
    background-image: url('../img/bg-1.jpg');
    background-size: 500px;
  background-repeat: no-repeat;
  background-position: center;
  }

.modal {
  background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  

  .itc-slider__item {
    flex: 0 0 50%;
    max-width: 50%;
    /* height: 250px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 7rem;
  }

  


